body {
  margin: 0;
}
ul {
  list-style-type: none;
}

#page-heading {
  text-align: center;
  margin-top: 20px;
  color: gray;
}

.container {
  justify-content: center;
  display: flex;
  justify-content: center;
}

.list-container {
  display: flex;
  width: 50vw;
  background-color: skyblue;
  margin-bottom: 5px;
}
.list-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}

.delete-button {
  text-align: center;
  margin-top: 5px;
  width: 10%;
}

.delete-button a {
  color: antiquewhite;
  background-color: red;
}

form {
  display: flex;
  justify-content: center;
}

input {
  margin-left: 5px;
  margin-right: 5px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}
button {
  background-color: seagreen;
}

li:hover {
  background-color: gray;
}
